<section class="py-12 px-6 bg-pwblue text-white">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-xl md:text-3xl font-bold">
      These wonderful people made this whole project possible. 👏👏👏
    </h2>
    <div class="mt-4">
      <div class="mt-8 flex flex-wrap gap-2 md:gap-4">
        {% for author in collections.all | getAllAuthors %}
        <div
          class="md:py-2 md:px-4 py-1 px-2 bg-white text-slate-800 rounded-lg flex items-center"
        >
          <span class="mr-2">👍</span>
          <span class="capitalize text-sm md:text-lg font-medium">
            {{ author }}</span
          >
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
