<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ config.url }}{{ page.url }}" />
    <meta name="robots" content="{{ seo.robots }}" />
    <link
      rel="preload"
      href="/assets/fonts/montserrat/montserrat.css"
      as="style"
    />
    <link rel="stylesheet" href="/assets/fonts/montserrat/montserrat.css" />
    <link rel="preload" href="/assets/css/tailwind.dist.css" as="style" />
    <link rel="stylesheet" href="/assets/css/tailwind.dist.css" />
    <script>
      if (localStorage.getItem("color-theme") === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="">
    {{ content | safe }}
  </body>
</html>
