---
layout: base.html
---

<article class="prose max-w-2xl mx-auto">
    <div>
        <h1>{{ title }}</h1>
    </div>
    <div class="flex gap-4">
        <div>
            <strong>Version:</strong>
            <br />
            {% if version %} {{ version }} {% else %}
            <em>NA</em>
            {% endif %}
        </div>
        <div>
            <strong>Authors:</strong>
            <br />
            {{ authors }}
        </div>
        <div>
            <strong>Tags:</strong>
            <div>
                {% for tag in tags %} {% if tag != "recipes" %}
                <a
                    href="/topic/{{ tag | slugify }}"
                    class="bg-zinc-100 border-2 border-zinc-200 p-1 rounded"
                    >{{ tag }}</a
                >
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
    <div>{{ content | safe }}</div>

    <div>
        <h3>Found a problem, error or mistake? Fix it, please!</h3>
        <a
            href="https://github.com/webmanufaktur/processwire-recipes/blob/master/{{ page.inputPath }}"
            rel="nofollow noreferrer noopener"
            target="_blank"
            >Go and edit this recipe on GitHub.</a
        >
    </div>
</article>
