---
pagination:
  data: collections
  addAllPagesToCollections: true
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - links
    - pillows
    - recipes
eleventyComputed:
  title: "ProcessWire Recipes:<br /><span class='text-pwblue uppercase'>{{ tag }}</span>"
  titleRendered: More recipes talking about <span class="block text-red-600">{{ tag }}</span>
  seo:
    title: "ProcessWire recipes about: {{ tag }}"
    desc: All posts, snippets and various other content talking about {{ tag }}.
    robots: "noindex, follow"
permalink: /topic/{{ tag | slugify }}/
layout: "base.html"
---

<!-- import macro -->
{% from "macros.html" import hero %}

<article>
  {{ hero(title) }}
  <section class="pw-gradient">
    <ul class="space-y-8 md:space-y-12 max-w-3xl table mx-auto px-4">
      {% for recipe in collections[ tag ] | sortByTitle %}
  <li class="sticky top-8">
    <div class="border-2 border-gray-100 bg-white p-6 md:p-8 rounded">
      <a href="{{ recipe.url }}" class="text-lg block">
        <span class="font-bold"> {{ recipe.data.title }} </span>
      </a>
        <ul class="text-gray-500 text-sm tabular-nums leading-normal">
          <li>
            Added/Updated:
            <span class="font-semibold">{{ recipe.data.date | postDate }}</span>
          </li>
          <li>
            Authors:
            <span class="font-semibold">{{ recipe.data.authors }}</span>
          </li>
        </ul>

      <div class="mt-2 md:mt-4 flex gap-1 md:gap-2 flex-wrap">
        {% for tag in recipe.data.tags %} {% if tag != "recipes" %} {% include
        "_partials/tag.html" %} {% endif %} {% endfor %}
      </div>
    </div>
  </li>
      {% endfor %}
    </ul>
  </section>
</article>

<!-- Tags -->
{# {% include "renderedTagCloud.html" %} #}
