---
title: Debug
permalink: /misc/
eleventyExcludeFromCollections: true
---

config.environment: {{ config.environment }}
<hr />
prod: {{ config.prodUrl }}
<hr />
dev: {{ config.devUrl }}
<hr />
base: {{ config.baseUrl }}
<hr />
isProd: {{ config.isProd }}
<hr />
