---
title: "Recipes"
headline: "ProcessWire API Snippets"
intro: "A collection of ProcessWire API snippets to solve common tasks, provide full
solutions, and some little helpers that make work with the API easier."
seotitle: "ProcessWire API Snippets - the full collection"
seodesc: "A collection of ProcessWire API snippets to solve common tasks, provide full
  solutions, and some little helpers that make work with the API easier."
permalink: "/recipes/index.html"
layout: "base.html"
---

{% from "macros.html" import hero %}

<article>
  {{ hero(headline, intro) }}
  <section class="pw-gradient">{% include "recipeList.html" %}</section>
</article>

