---
title: "ProcessWire Recipes"
---

<ol reversed>
    {% for recipe in collections.recipes %}
    <li>
        <a href="{{ recipe.url }}">{{ recipe.data.title }}</a>
    </li>
    {% endfor %}
</ol>
