---
permalink: /_headers
eleventyExcludeFromCollections: true
---
https://:processwire-recipes.pages.dev/*
  Link: <https://processwire.recipes/:splat>; rel="canonical"
  X-Robots-Tag: noindex
  Refresh: 5; url=https://processwire.recipes/:splat
